tr
  td
    image(src='../asset/btc.png', width="25", height="25")
  td 
    b
      a(href="https://coinmarketcap.com/", target="_blank") Bitcoin
  td
    b.text-success#exchange-usd-btc
  td -
  td#exchange-marketcap-btc
  td -
  td -
tr
  td
    image(src='../asset/arkt.png', width="25", height="25")
  td 
    b
      a(href="https://masternodes.online/currencies/ARKT/", target="_blank") Arktur
  td
    b.text-success#exchange-usd-art
  td#exchange-btc-art
  td#exchange-marketcap-art
  td#exchange-cost-art
  td#exchange-reduce-art
tr
  td
    image(src='../asset/xgs.png', width="25", height="25")
  td 
    b
      a(href="https://masternodes.online/currencies/XGS/", target="_blank") GenesisX
  td
    b.text-success#exchange-usd-xgs
  td#exchange-btc-xgs
  td#exchange-marketcap-xgs
  td#exchange-cost-xgs
  td#exchange-reduce-xgs
tr
  td
    image(src='../asset/gin.png', width="25", height="25")
  td 
    b
      a(href="https://masternodes.online/currencies/GIN/", target="_blank") Gincoin
  td
    b.text-success#exchange-usd-gin
  td#exchange-btc-gin
  td#exchange-marketcap-gin
  td#exchange-cost-gin
  td#exchange-reduce-gin
tr
  td
    image(src='../asset/xmn.png', width="25", height="25")
  td
    b
      a(href="https://masternodes.online/currencies/XMN/", target="_blank") Motion
  td
    b.text-success#exchange-usd-xmn
  td#exchange-btc-xmn
  td#exchange-marketcap-xmn
  td#exchange-cost-xmn
  td#exchange-reduce-xmn
