.col-md-12
  .row
    .col-md-6
      .card
        .card-header
          h5 Wallet
        .card-body
          table.table.table-sm
            tbody
              tr
                td 
                  b Name
                td#wallet-name
              tr
                td 
                  b Address
                td#wallet-address
              tr
                td 
                  b Received
                td#wallet-received
                td
                  span $
                  span#wallet-received-usd
              tr
                td 
                  b Sent
                td#wallet-sent
                td
                  span $
                  span#wallet-sent-usd
              tr
                td 
                  b Balance
                td#wallet-balance
                td
                  span $
                  span#wallet-balance-usd
              tr.text-success
                td 
                  b Excess
                td#wallet-excess
                td
                  span $
                  span#wallet-excess-usd
    .col-md-4
      .card
        .card-header
          h4 Exchange
        .card-body
            table.table.table-sm
              tbody
                tr
                  td 
                    b Price
                  td
                    span $
                    span#wallet-price
                  