td
    b.portfolio-item-name
td.portfolio-item-invested
td.portfolio-item-rewarded
td.portfolio-item-roi
td.portfolio-item-daily
td.portfolio-item-frequency
td
    span.portfolio-item-next
td
    span.portfolio-item-balance
    = ' '
    span |
    = ' '
    span.portfolio-item-balance-usd
td
    span.portfolio-item-excess
    = ' '
    span |
    = ' '
    b.text-success
        span.portfolio-item-excess-usd