nav.navbar.navbar-expand.bg-light.navbar-light.mb-3
  ul.navbar-nav
    li.nav-item.active
      a.nav-link(href='/') Home
    li.nav-item
      a.nav-link(href='/portfolio') Watchlist
    li.nav-item
      a.nav-link(href='/wallet') Wallet