td
    span.transaction-item-time
td
    span.transaction-item-name
td
    span.transaction-item-txid
td
    span.transaction-item-value
    = ' '
    span |
    = ' '
    span
     b.text-success.transaction-item-usd